<%- include('../partials/header') %>

<h1>Your Matches</h1>

<ul>
    <% matches.forEach(function(match) { %>
        <li>
            Sender: <%= match.sender %>
            <ul>
                <% match.messages.forEach(function(message) { %>
                    <li>
                        Content: <%= message.content %>
                        Recipient: <%= message.recipient %>
                    </li>
                <% }); %>
            </ul>
        </li>
        
    <% }); %>
</ul>

<%- include('../partials/footer') %>