<%- include('../partials/header') %>
    <div id="messages">
        <h1>Messages</h1>
        <br>
        <br>
        <ul>
            <% match.messages.forEach(function(message) { %>
            <%= message.sender.name %>: <strong><%= message.content %></strong>
            <br>
            <% }); %>
        </ul>
        <form action="/messages/<%= match._id %>" method="POST">
            <input type="textarea" name="content" placeholder="Don't Get Ghosted">
            <button type="submit"  class="btn btn-lg btn-info" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Send it!</button>
        </form>
        <br>
        <br>
        <p><small>**I'm sensitive**</small></p>
        <p><small>*Please don't sent blank messages*</small></p>
        <p><small>Your account will get hacked, and your identity will bet stolen</small></p>
        <p><small>Kidding, but still, don't do it</small></p>
        <br>
        <br>
        <form action="/matches/<%= match._id %>?_method=DELETE" method="POST">
            <br>
            <br>
            <button type="submit"  class="btn btn-lg btn-info" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Delete this Convo Because I am a Drug Dealer</button>
        </form>
    </div>  
<%- include('../partials/footer') %>

