<%- include('../partials/header') %>

<h1>Conversation</h1>

<ul>
    <% match.messages.forEach(function(message) { %>
        <% if (message.sender._id.toString() === user._id.toString()) { %>
                <form action="/match/<%= match._id %>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
                <%= user.name %>: <strong><%= message.content %></strong>
             
            <br>
        <% } else { %>
            <%= user.name %>: <strong><%= message.content %></strong>
            <br>
        <% } %>
        
    <% }); %>
</ul>

<form action="/messages/<%= match._id %>" method="POST">
    <input type="textarea" name="content">
    <button type="submit">add</button>
</form>



<%- include('../partials/footer') %>

