<%- include('../partials/header') %>

<h1>Conversation</h1>

<ul>
    <% match.messages.forEach(function(message) { %>
        
        <% if (message.sender._id.toString() === user._id.toString()) { %>
                <%= user.name %>
                <% } else { %>
                    <%= message.sender.name%>
                    <% } %>
        <li><strong><%= message.content %></li>

            
    <% }); %>
</ul>

<form action="/messages/<%= match._id %>" method="POST">
    <input type="textarea" name="content">
    <button type="submit">add</button>
</form>



<%- include('../partials/footer') %>

