<%- include('../partials/header') %>
<h1>I can see you</h1>

<main>
  <div>Profile Pic
    <img alt="avatar" src="<%= account.user.userAvatar %>" referrerpolicy="no-referrer">
  </div>  
  <div>First Name:
    <p><%= account.name %></p>
  </div>
  <div>Born:
    <p><%= account.born %></p>
  </div>
  <div>Bio:
    <p><%= account.bio %></p>
  </div>
 <% matches.forEach(match => {%> 
  <a href="/matches/<%= match._id %>"><%= user._id.toString() %></a>
<% }) %>
<br>
<br>
<a href="/accounts/<%= account._id %>/edit">Edit Profile</a>
</main>


          
<%- include('../partials/footer') %>