<%- include('../partials/header') %>
	<br>
  <h1 id="profile">This is You</h1>
	<h2 id="profile">Shocker, Right?</h2><br>
	<br>
	<br>
	<br>
	<main>
		<div id="your-profile" class="card text-bg-info mb-3" style="max-width: 30rem;">
			<div class="card-header">
				<strong>First Name:</strong>
				<p><%= user.name %></p>
			</div>
			<div class="card-body">
				<strong>Born:</strong>
				<p class="card-text"><%= user.born %></p>
			</div>
			<div class="card-body">
				<strong>Bio:</strong>
				<p class="card-text"><%= user.bio %></p>
      </div><label><strong>Your Convos</strong></label> <%matches.forEach(match => {%> <a class="link-offset-2 link-underline link-underline-opacity-0" href="/matches/<%= match._id %>">Guess Who This Is</a> <%}) %><br>
      <br>
  </div><a id="edit-button" href="/accounts/<%= user._id %>/edit" class="btn btn-lg btn-info" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?">Make Changes Like People Care</a>
</main>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%- include('../partials/footer') %>